@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300,400,500,600,700|Open+Sans:wght@300,400,500,600,700&display=swap');

.primary.color-preview { background-color: #d3aa80; }
.secondary.color-preview { background-color: #faf5f0; }
.additional.color-preview { background-color: #666; }

.button-preview {
  padding: 5px;
  background-color: #d3aa80;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", serif;
  border: 0px solid #666;
}

.button-preview.hover { background-color: #666; }

.social-preview a {
  display: inline-block;
  font-size: 16px;
  width: 32px;
  height: 32px;
  background-color: #666;
  color: #fff;
  line-height: 1.3;
  border-radius: 50%;
}

.social-preview a span { padding: 8px; }
.social-preview #social-preview-i4 { background-color: #d3aa80; }

#mobmenu-prev-active { background-color: #d3aa80; color: #fff; text-transform: uppercase; font-size: 14px; }
#mobmenu-prev { background-color: #fafafa; color: #666; }

h1 { margin: 0 0 0 -50px; font-size: 32px; font-weight: 500; font-family: "Open Sans", sans-serif; color: #000; text-transform: capitalize; }
h2 { margin: 0 0 0 -50px; font-size: 30px; font-weight: 500; font-family: "Open Sans", sans-serif; color: #000; text-transform: capitalize; }
h3 { margin: 0 0 0 -40px; font-size: 26px; font-weight: 500; font-family: "Open Sans", sans-serif; color: #666; text-transform: uppercase; }
h4 { margin: 0 0 0 -30px; font-size: 20px; font-weight: 500; font-family: "Open Sans", sans-serif; color: #000; text-transform: capitalize; }
h5 { margin: 0 0 0 -30px; font-size: 16px; font-weight: 500; font-family: "Open Sans", sans-serif; color: #000; text-transform: capitalize; }

.p-preview {
  margin: 0 0 5px -15px;
  color: #666;
  max-width: 500px;
  font-size: 12px;
  font-family: "Montserrat", serif;
  line-height: 1.6;
}

#banner1-preview { background-color: #d3aa80; color: #fff; }
#banner2-preview { background-color: #666; color: #fff; }
#banner1-h2, #banner2-h2 { margin-left: 0; font-size: 22px; text-transform: uppercase; }
#banner1-h4, #banner2-h4 { margin-left: 0; font-size: 14px; text-transform: uppercase; }

.tabs .tab1, .tabs .tab3 { margin-left: -5px; padding: 10px 12px; background-color: #d3aa80; color: #fff; font-size: 18px; } 
.tabs .tab2 { margin-left: -5px; padding: 10px 12px; background-color: #666; color: #fff; font-size: 18px; } 

#link-preview { color: #d3aa80; }
#link-preview-h { color: #d3ba50; }

.promo-class { font-size: 16px; }

.promo-preview.category,
.promo-preview.sku {
  margin-left: -50px;
  margin-bottom: -30px;
  transform: scale(0.9);
  max-width: 500px;
  background-color: #f5f5f5;
  padding: 10px;
  color: #d3aa80;
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", serif;
}

.promo-preview.sku {
  font-size: 16px;
  font-weight: 400;
}

.badge-preview {
  padding: 10px 10px;
  font-size: 32px;
  width: 85px;
  height: 85px;
  background-color: #d3aa80;
  color: #fff;
  line-height: 85px;
  border-radius: 50%;
}

.tagline-preview {
  background-color: #d3aa80;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Open Sans", serif;
}

.menu-preview { background-color: #f5f5f5; }

.menu-preview > .nav {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.menu-preview > .nav.active { color: #d3aa80; }
.menu-preview .sub { background-color: #fff; }

.menu-preview .sub-nav {
  padding: 8px 10px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.menu-preview .sub-nav.active { background-color: #d3aa80; color: #fff; }
